<p>
  <label>
    type:
    ${h.select('type', [], ['master', 'slave'])}
  </label>
</p>
<p>
  <label>
    name:
    ${h.text('name')}
  </label>
</p>
<p>
  <label>
    soa_nameserver:
    ${h.text('soa_nameserver')}
  </label>
</p>
<p>
  <label>
    admin_mailbox:
    ${h.text('admin_mailbox')}
  </label>
</p>
<p>
  <label>
    serial:
    ${h.text('serial')}
  </label>
</p>
<p>
  <label>
    refresh_ttl:
    ${h.text('refresh_ttl')}
  </label>
</p>
<p>
  <label>
    retry_ttl:
    ${h.text('retry_ttl')}
  </label>
</p>
<p>
  <label>
    expire_ttl:
    ${h.text('expire_ttl')}
  </label>
</p>
<p>
  <label>
    minimum_ttl:
    ${h.text('minimum_ttl')}
  </label>
</p>
<p>
  <label>
    default_ttl:
    ${h.text('default_ttl')}
  </label>
</p>