<%inherit file="/layout.html"/>

<h3>Checking named.conf...</h3>
<% named_conf_errors = h.subprocess.Popen(config['named.checkconf_bin'], stdout=h.subprocess.PIPE).stdout.read() %>
% if named_conf_errors:
  <p>Some errors happened:</p>
  ${named_conf_errors}
% else:
  No errors found.
% endif

<h1>Domains List</h1>

<p>
  ${h.link_to("Add New", url(controller='domains', action='new'))}
</p>

<table class="index">
  <tr>
    <th>Domain name</th>
  </tr>
  % for domain in c.domains:
    <tr>
      <td>
        ${domain.name}
      </td>
      <td>
        ${h.link_to("Details", url(controller='domains', action='show', id=domain.id))}
        |
        ${h.link_to("Edit", url(controller='domains', action='edit', id=domain.id))}
        |
        ${h.link_to("Remove", url(controller='domains', action='delete', id=domain.id), class_='delete')}
      </td>
    </tr>
  % endfor
</table>