<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <link rel="stylesheet" href="/application.css" type="text/css" media="screen" charset="utf-8">
    <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.8.2.custom.css" type="text/css" media="screen" charset="utf-8">
    <script type="text/javascript" src="/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="/jquery-ui-1.8.2.custom.min.js"></script>
    <script type="text/javascript" src="/application.js"></script>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div class="logo">
          <h1>
            ${h.link_to("Bind Config Panel", url('/'))}
          </h1>
        </div>
        <div class="user-status">
          % if 'user' in session:
            Welcome, ${session['user'].username}! ${h.link_to("Not you?", url(controller='auth', action='sign_out'))}
          % else:
            Welcome, Guest! ${h.link_to("Sign In", url(controller='auth', action='sign_in'))} or ${h.link_to("Sign Up", url(controller='auth', action='sign_up'))}
          % endif
        </div>
        <div class="clear" />
      </div>
      
      <% messages = h.flash.pop_messages() %>
      % if messages:
      <div id="flash-messages">
          % for message in messages:
          <div class="flash ${message.category}">${message}</div>
          % endfor
      </div>
      % endif
      
      
      <div id="body">
        ${self.body()}
      </div>
    </div>
  </body>
</html>

