/* Layout */

body {
  font-size: 1em;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1 { margin-top: 0; }

#container {
  width: 960px;
  margin: 0 auto;
}
#header .logo {
  float: left;
}
#header .user-status {
  float: right;
}

#flash-messages .flash {
  padding: 5px 8px;
  margin: 10px 0;
}
#flash-messages .flash.notice {
  background-color: #ccffcc;
  border: solid 1px #66cc66;
}
#flash-messages .flash.warning {
  background-color: #ffcccc;
  border: solid 1px #cc6666;
}

/* Forms */

input[type=text], input[type=password], textarea { padding: 2px; width: 200px; }

form div {
  margin: 10px 0;
}
form div label {
  display: block;
  width: 150px;
  float: left;
  text-align: right;
  margin-right: 20px;
}
form .buttons {
  margin-left: 170px;
}
form .buttons input[type=submit] {
  margin-right: 5px;
}
form .field_error {
  color: #f66;
  font-weight: bold;
}

/* Tables */

table { border-collapse: separate; border-spacing: 0; }
table, td, th { vertical-align: middle; }
table.index { width: 100%; }
td, th { padding: 5px; text-align: left; }
td { border-top: 1px dashed #ccc; }

/* Misc */

.odd {
  background-color: #fafafa;
}
.clear {
  clear: both;
}
